@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;400;500;700;800&family=Ubuntu:wght@300;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}

/* =========================================
       common css end
============================================ */

:root{
    --hf: 'Abril Fatface', cursive;
    --mf: 'Ubuntu', sans-serif;
    --sf: 'Open Sans', sans-serif;
    --brand: #00bbff;
    --brand2: #0066e7;
    --cl1: #444444;
    --cl2: #222222;
    --bg1: #f5f5f5;
    --bg2: #eaeaea;
}

/* ==================
    font css ends
 =========================*/

.ubu-reg{
    font-family: var(--mf) !important;
    font-weight: 400;
 }

.ubu-light{
    font-family: var(--mf) !important;
    font-weight: 300;
}

.ubu-med{
    font-family: var(--mf) !important;
    font-weight: 500;
}
.abril{
    font-family: var(--hf) !important;
    font-weight: 500;
}

.open-semi{
    font-family: var(--sf) !important;
    font-weight: 600 !important;
}

/*=====================
 font family css end  
 =====================*/

.cta-btn{
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right,var(--brand),var(--brand2));
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none; 
}

.cta-btn:hover{
    background: linear-gradient(to right,var(--brand2),var(--brand));
}

/* ==========================cta-btn css ends========================================= */

.pt-52{
    padding-top: 52px !important;
}

.pt-23{
    padding-top: 23px !important;
}

.pb-52{
    padding-bottom: 52px !important;
}

.pb-23{
    padding-top: 23px !important;
}


/* ===============================space css end =============================================*/
.fs-20{
    font-size: 20px !important;
}

.fs-34{
    font-size: 34px !important;
}

.fs-16{
    font-size: 16px !important;
}
.fs-50{
    font-size: 50px !important;
}
.fs-118{
    font-size: 118px !important;
}
/*=====================
 font size css end  
 =====================*/

.navbar{
    z-index: 9999;
    margin-top: 30px; 
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.nav-bg{
    background: var(--bg1);
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    animation: navfix linear 2s;
    -webkit-animation: navfix linear 2s;
}

@keyframes navfix{
    0%{
        top: -50px;
    }
    100%{
        top: 0;
    }
}

 .navbar-expand-lg .navbar-nav .nav-link{
     padding-left: 35px !important;
     padding-right: 0px !important;
     transition: all linear 0.4s !important;
     -webkit-transition: all linear 0.4s !important;
     -moz-transition: all linear 0.4s !important;
     -ms-transition: all linear 0.4s !important;
     -o-transition: all linear 0.4s !important;
}
 .navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--brand);
 }
 /*=====================
 nabvar css end  
 =====================*/
#banner{
    background: var(--bg1);
    margin-top: 30px;
}

#banner .side-text{
    left: -23px;
}

 #banner .side-text h3{
     writing-mode: sideways-lr;
     -webkit-writing-mode: sideways-lr;
     -ms-writing-mode: sideways-lr;
     color: var(--hf);
     opacity: 0.2;
     letter-spacing: 10px;
     font-size: 97px !important;
}

#banner .banner-chat-content{
    padding-top: 141px;
}

#banner .banner-chat-item p{
    margin-bottom: 10px !important;
    padding: 10px 5px;
    background: var(--bg2);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: inline-block;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0,0.5));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0,0.5));
}
#banner .slick-current{
    opacity: 0.3 !important;
}
#banner .banner-chat-item:nth-of-type(even) P{
    transform: translateX(1px);
    -webkit-transform: translateX(1px);
    -moz-transform: translateX(1px);
    -ms-transform: translateX(1px);
    -o-transform: translateX(1px);
}
#banner .banner-chat-form form{
    padding: 10px -11px;
    background: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0,0.5));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0,0.5));
    /* width: 298px; */
}

#banner .banner-chat-form form input{
    border: none;
    outline: none; 
}
#banner .banner-chat-form form a i{
    font-size: 16px;
    color: var(--cl1);
}
#banner .banner-person{
    position: relative;
    z-index: 1;
}

#banner .banner-person::before{
    content: '';
    width: 10px;
    height: 428px;
    position: absolute;
    background: var(--brand2);
    top: 75px;
    right: 50px;
    z-index: 99;   
}

#banner .banner-person::after{
	content: '';
	width: 59px;
	height: 10px;
	position: absolute;
	background: var(--brand2);
	bottom: 41px;
	right: 50px;
    z-index: -1;
}
#banner .banner-person .banner-message{
    position: absolute;
    left: 21px;
    top: 155px;
    z-index: 100;
    cursor: pointer;
}
#banner .banner-person .banner-message i{
     width: 70px;
     height: 70px;
     background: #fff;
     color: var(--brand);
     font-size: 36px;
     text-align: center;
     line-height: 66px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}

#banner .banner-person .person-broder{
    position: relative;
}
 
#banner .person-broder::before{
   content: '';
   width: 10px;
   height: 210px;
   background: var(--brand);
   position: absolute;
   top: 75px;
   left: 50px;
   z-index: -1;
}
#banner .person-broder::after {
   content: '';
   width: 251px;
   height: 10px;
   background: var(--brand);
   position: absolute;
   top: 75px;
   left: 50px;
   z-index: -1;
   background: linear-gradient(to right,var(--brand),var(--brand2));
}
       
#banner .banner-persion img{
    position: relative;
    z-index: 95;
}
#banner .banner-text h5 span{
    display: inline-block;
    margin: 0 12px;
}

#banner .banner-text p{
    color: var(--brand);
    padding-top: 160px;
}

#banner .banner-text h1{
    color: var(--brand);
    margin-top: -10px;
    margin-bottom: 10px !important;
}
#banner .banner-text a{
    margin-top: 25px;
}

/* ===========================
banner css ends
 ===========================*/

#about .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

#about .side-text{
    right: -1200px;
    top: 100px;
}

 #about .side-text h3{
     writing-mode: sideways-lr;
     -webkit-writing-mode: sideways-lr;
     -ms-writing-mode: sideways-lr;
     color: var(--hf);
     opacity: 0.2;
     letter-spacing: 5px;
     font-size: 70px !important;
     white-space: nowrap;
}

 #about .about-person{
    position: relative;
 }

 #about .about-person .abt-border{
     position: absolute;
     left: -11px;
     top: 115px;
     z-index: -1;
 }

 #about .about-text h3{
    color: var(--cl2);
    margin-bottom: 60px !important;
    
 }

 #about .about-text P{
    line-height: 24px;
    color: var(--cl1);
    margin-bottom: 30px !important;
 }

 #about .about-text .about-icon-text p{
     color: var(--cl1);
      
 }
 #about .about-text .about-icon-text span{
     color: var(--cl2);

 }
 #about .about-text .about-item{
     transition: all linear 0.4s;
     -webkit-transition: all linear 0.4s;
     -moz-transition: all linear 0.4s;
     -ms-transition: all linear 0.4s;
     -o-transition: all linear 0.4s;
}
#about .about-text .about-item{
    margin-bottom: 40px !important;
}

 #about .about-text .about-item:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,0.5);
}
#about .about-text .about-item .about-icon-text p{
    margin-bottom: 20px !important;
}

/* ==================
banner part css end 
======================*/
#service{
    background: var(--bg1);
    padding-top: 60px;
    padding-bottom: 60px;
}
#service .side-text{
    left: -17px;
    top: 63px;
}

 #service .side-text h3{
     writing-mode: sideways-lr;
     -webkit-writing-mode: sideways-lr;
     -ms-writing-mode: sideways-lr;
     color: var(--hf);
     opacity: 0.2;
     letter-spacing: 5px;
     font-size: 70px !important;
}

#service .service-item{
   padding: 30px;
   transition: all linear 0.4s;
   -webkit-transition: all linear 0.4s;
   -moz-transition: all linear 0.4s;
   -ms-transition: all linear 0.4s;
   -o-transition: all linear 0.4s;
   position: relative;
   z-index: 1;
}
#service .service-item::after{
    content: '';
    width: 3px;
    height: 8%;
    background: linear-gradient( -180deg ,var(--brand2),var(--brand));
    position: absolute;
    right: 0;
    top: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#service .service-item:hover:after{
    height: 100%;
}
#service .service-item:hover{
    background: #fff;
}
#service .service-item h4{
    color: var(--cl1);
    margin: 20px 0 30px !important;
}
#service .service-item p{
    color: var(--cl2);
    line-height: 24px;
}
/*  ===================
service css end
======================= */
#portfolio{
    padding-top: 60px !important;
    margin-bottom: 100px !important;
}

#portfolio .portfolio-nav ul li{
    padding-right: 42px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
#portfolio header h3{
    margin-bottom: 60px !important;
}
#portfolio .portfolio-nav ul li::after{
    content: '';
    height: 100%;
    width: 1px;
    background: var(--cl2);
    position: absolute;
    right: 20px;
    top: 0;
}

#portfolio .portfolio-nav ul li:last-child{
    padding-right: 0px; 
}
#portfolio .portfolio-nav ul li:last-child::after{
    display: none; 
}

#portfolio .nav-tabs{
    border-bottom: none;
}

#portfolio .nav-tabs .nav-link{
    background: transparent;
    border: none;
    font-family: var(--mf);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--cl1);
}

#portfolio .nav-tabs .nav-link.active{
    color: var(--brand);
}

#portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: transparent;
    border: none;
}

#portfolio .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	border: none;
    outline: none;
}

#portfolio .portfolio-item{
    width: 20%;
    margin-right: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#portfolio .portfolio-item:last-child{
    margin-right: 0px;
}

#portfolio .portfolio-item .port-overlay{
    background: rgba(0, 0, 0, 0.9);
    top: -100%;
    left: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#portfolio .portfolio-item:hover .port-overlay{
    top: 0;
}
 

#portfolio .portfolio-item .port-overlay i{
    width: 50px;
    height: 50px;
    background: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--brand);
    font-size: 16px;
}

/* ================
     portfolio css ends
 =====================*/
 #work{
    padding-bottom: 100px;
    position: relative;
 }

 #work .side-text{
    top: 100px;
    left: 1289px;
}

 #work .side-text h3{
     writing-mode: sideways-lr;
     -webkit-writing-mode: sideways-lr;
     -ms-writing-mode: sideways-lr;
     color: var(--hf);
     opacity: 0.2;
     letter-spacing: 2px;
     font-size: 40px !important;
}

 #work header h3{
     margin-bottom: 60px !important;
 }
 #work .work-item{
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     position: relative;
     z-index: 1;
}
 #work .work-item::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient( to right ,var(--brand2),var(--brand));
    position: absolute;
    top: 169px;
    left: 169px;
    z-index: 2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: scale(.05);
    -webkit-transform: scale(.05);
    -moz-transform: scale(.05);
    -ms-transform: scale(.05);
    -o-transform: scale(.05);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    z-index: 10;
}

#work .work-item:hover::after{
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
}

 #work .work-logo{
    background: #eaeaea;
    padding: 30px 0px;
    /* position: relative;
    z-index: 11; */
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all l inear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#work .work-item:hover .work-logo{
    background: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    transition: linear all 0.4s;
    -webkit-transition: linear all 0.4s;
    -moz-transition: linear all 0.4s;
    -ms-transition: linear all 0.4s;
    -o-transition: linear all 0.4s;
    position: relative;
    z-index: 11;
}

 #work .work-text{
     background: #f5f5f5;
     padding: 30px 0px;
     /* position: relative;
     z-index: 12; */
 }
 #work .work-item:hover .work-text{
     background: transparent;
     position: relative;
     z-index: 12;
 }

 #work .work-text h4{
     color: var(--cl1);
     margin-bottom: 10px !important;
     transition: all linear 0.4s;
     -webkit-transition: all linear 0.4s;
     -moz-transition: all linear 0.4s;
     -ms-transition: all linear 0.4s;
     -o-transition: all linear 0.4s;
}

 #work .work-item:hover .work-text h4{ 
    color: #fff;
    
}

 #work .work-text h6{
     color: var(--cl2);
     margin-bottom: 25px !important;
     transition: all linear 0.4s;
     -webkit-transition: all linear 0.4s;
     -moz-transition: all linear 0.4s;
     -ms-transition: all linear 0.4s;
     -o-transition: all linear 0.4s;
}

 #work .work-item:hover .work-text h6{ 
    color: #fff;
    
}

 #work .work-text p{
     color: var(--cl1);
     padding: 17px;
     transition: all linear 0.4s;
     -webkit-transition: all linear 0.4s;
     -moz-transition: all linear 0.4s;
     -ms-transition: all linear 0.4s;
     -o-transition: all linear 0.4s;
}

 #work .work-item:hover .work-text p{ 
    color: #fff;
    
}

/*===================
 work css ends
  ======================*/

  #funfact{
      margin-top: 60px;
      background: linear-gradient( to right ,var(--brand2),var(--brand));
  }

  #funfact .fun-text h3{
      margin-top: 20px;
  }
  #funfact .fun-text a{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  #funfact .fun-text .cta-btn:first-of-type{
      margin-right: 11px;
  }
  #funfact .fun-text .cta-btn:hover{
      background: #fff;
      color: var(--brand) !important;
  }
  #funfact .fun-item{
      margin-top: 30px;
      margin-bottom: 20px;
  }
  #funfact .fun-item h5 span{
      display: inline-block;
      font-size: 24px;
      margin-right: 5px;
  }

/*=================================== funfact css ends =========================================*/

#testimonial{
    padding-top: 60px;
    padding-bottom: 100px;
} 

#testimonial header h3{
    padding-bottom: 60px;  
}

#testimonial .test-item .card-body{
    background: var(--bg1);
}
#testimonial .test-item .card-body .card-text{
    color: var(--cl2);
    line-height: 30px;
    margin-bottom: 15px !important;
    padding: 24px 12px;
}

#testimonial .ratings i{
    color: #febb1c;
    margin-bottom: 15px;
}

/* ========testimonial css ends=============== */
#newsletter{
    padding-bottom: 100px;
}
#newsletter header h3{
    margin-bottom: 30px !important;
}
#newsletter .newsletter-form input{
    border-color: var(--bg1);
    height: 46px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
#newsletter .newsletter-form button{
    border: none;
    outline: none;
}
/* ========newsletter css ends=============== */
#brand {
    padding-bottom: 100px;
}
#brand .brand-item img{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); 
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
  
}

#brand .brand-item:hover img{ 
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

/* =====================brand css ends=========================== */

footer{
    background: var(--bg1);
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}

footer::before{
    content: '';
    width: 39%;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 100px;
}
footer::after{
    content: '';
    width: 39%;
    height: 1px;
    background: #000;
    position: absolute;
    right: 0;
    bottom: 100px;
}
footer .footer-brand p{
    color: var(--cl1);
    padding: 20px 30px;
}

footer .footer-contact .email{
    color: var(--cl2);
    padding: 10px 0px 20px 0px;
    display: inline-block;
}

footer .footer-contact .footer-social a i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
    color: #9999;
    font-size: 16px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    margin-bottom: 40px;
}

footer .footer-contact .footer-social a i:hover{
    border: none;
    background: linear-gradient( to right ,var(--brand2),var(--brand));
    color: white;
}
footer .footer-contact .footer-social a:last-of-type i{
    margin-right: 0px;
}